* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

ul {
    list-style: none;
}

/***********************************************************/
/********************* Main Sections ***********************/
/***********************************************************/

#one, #two, #three, #four, footer {
    outline: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

/***********************************************************/
/********************* Section One *************************/
/***********************************************************/

#one {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#section-one-left {
    outline: 1px solid red;
    width: 600px;
    padding: 50px;
    overflow-wrap: break-word;
}

#section-one-right {
    outline: 1px solid red;
    width: 600px;
}

#section-one-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

/***********************************************************/
/********************* Section Two *************************/
/***********************************************************/
#section-two-header {
    margin-left: 50px;
}

#pokemon-team-container {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.pokemon-img {
    outline: 1px solid red;
    width: 150px;
    height: 150px;
}
/***********************************************************/
/********************* Section Three ***********************/
/***********************************************************/
#three {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#quote {
    margin: 0 75px;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}
#quote-author {
    display: flex;
    justify-content: flex-end;
}

h2 {
    font-size: 34px;
}

/***********************************************************/
/********************* Section Four ************************/
/***********************************************************/