* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: red;
}

p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.908);
}

ul {
    list-style: none;
}

/***********************************************************/
/********************* Main Sections ***********************/
/***********************************************************/

#one, #two, #three, #four, footer {
    width: 1200px;
    margin: 0 auto;
}

/***********************************************************/
/********************* Section One *************************/
/***********************************************************/

#one {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#section-one-left {
    background-color: aquamarine;
    width: 600px;
    padding: 50px;
    overflow-wrap: break-word;
}

#section-one-right {
    width: 600px;
}

#section-one-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

/***********************************************************/
/********************* Section Two *************************/
/***********************************************************/

#two {
    background-color: aquamarine;
}
#section-two-header {
    margin-left: 50px;
}

#pokemon-team-container {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.pokemon-img {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#pokemon-description {
    display: flex;
    justify-content: center;
    align-items: center;
}
/***********************************************************/
/********************* Section Three ***********************/
/***********************************************************/
#three {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: antiquewhite;
}

#quote {
    margin: 0 75px;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}
#quote-author {
    display: flex;
    justify-content: flex-end;
}

h2 {
    font-size: 34px;
}

/***********************************************************/
/********************* Section Four ************************/
/***********************************************************/

#four {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 186, 139);
}

#battle-container {
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: aquamarine;
}

#section-four-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#section-four-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
    background-color: white;
    color: red;
    font-size: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: red;  
    color: white;
    transition: 0.8s;
}

footer {
    text-align: center;
    padding: 10px;
}